body {
  background-color: #f7f7f7;
}
.container {
  margin: 24px;
}
.form {
  padding: 16px;
  height: auto;
  background-color: #f0f0f0;
  border-radius: 4px;
}
.control {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  font-family: MuseoSansCyrl500;
  line-height: 1.7;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: none;
}
.control .bold {
  font-family: MuseoSansCyrl700;
  font-size: 13px;
}
a {
  text-decoration: none;
  color: #fff;
}
.action-buttons {
  margin-bottom: 12px;
}
.list-panel-heading {
  margin-left: 16px;
  margin-bottom: 12px;
}
.list-panel-heading h3 {
  font-family: MuseoSansCyrl700;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-size: 14px;
  opacity: 0.5;
  color: #34343e;
}
.pointer {
  cursor: pointer;
}
label {
  font-family: MuseoSansCyrl700;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.08;
  color: #34343e;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.main {
  padding-top: 64px;
  height: 100%;
}
.main .content {
  width: 100%;
  padding-left: 360px;
}
.main .nomenu {
  width: 100%;
  padding-left: 0;
}
.buttons {
  width: 173px;
  height: 44px;
  border-radius: 2px;
  background-color: inherit;
  border: none;
  font-size: 16px;
  color: #34343e;
  margin-bottom: 12px;
  font-family: MuseoSansCyrl500;
}
.buttons .icon {
  position: relative;
  left: -5px;
}
.btn-yellow {
  background-color: #ffd24f;
}
.btn-yellow:hover {
  background-color: #ffdd78;
  cursor: pointer;
}
.btn-yellow:focus,
.btn-yellow :active {
  background-color: #ffc926;
  cursor: pointer;
}
.btn-yellow:disabled {
  background-color: #ffd24f;
  opacity: 0.3;
}
.btn-default {
  background-color: rgba(13,23,23,0.08);
}
.btn-default:hover {
  background-color: rgba(13,23,23,0.04);
  cursor: pointer;
}
.btn-default:focus,
.btn-default :active {
  background-color: rgba(13,23,23,0.16);
  cursor: pointer;
}
.btn-default:disabled {
  background-color: rgba(13,23,23,0.08);
  opacity: 0.4;
}
.btn-delete {
  width: 50px;
}
.btn-delete .icon {
  left: unset;
}
.btn-check-all {
  width: auto;
  margin-right: 10px;
  padding-left: 36px;
  padding-right: 15px;
}
.btn-check-all .control-indicator {
  top: 2px;
  left: -20px;
}
.btn-large {
  width: 240px;
}
.btn-copy {
  margin-right: 12px;
}
.btn-copy .icon-copy {
  height: 19px;
  margin-right: 5px;
}
.logout .logout-link {
  font-family: MuseoSansCyrl500;
  color: #b10101;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.25;
  padding: 12px;
}
.logout .logout-link:hover {
  text-decoration: underline;
}
.control-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  background: #f7f7f7;
  border: solid 0.5px #979797;
  border-radius: 2px;
}
.control:hover input ~ .control-indicator,
.control input:focus ~ .control-indicator {
  background: #f7f7f7;
}
.control input:checked ~ .control-indicator {
  background: #ffd24f;
  border: solid 0.5px #34343e;
}
.control:hover input:not([disabled]):checked ~ .control-indicator,
.control input:checked:focus ~ .control-indicator {
  background: #fccd46;
}
.control input:disabled ~ .control-indicator {
  background: #f7f7f7;
  opacity: 0.6;
  pointer-events: none;
}
.control-indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control-indicator:after {
  display: block;
}
.control-checkbox {
  width: calc(50% - 5px);
}
.control-checkbox .control-indicator:after {
  left: 30%;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid #34343e;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control-indicator:after {
  border-color: #7b7b7b;
}
.switch-control {
  position: absolute;
  right: 0;
  bottom: 18px;
  display: inline-block;
  width: 34px;
  height: 18px;
}
.switch-control .slider {
  position: absolute;
  cursor: pointer;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 5px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2px;
}
.switch-control .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch-control input {
  display: none !important;
}
.switch-control input:checked + .slider {
  background-color: #34343e;
}
.switch-control input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.switch-control input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(16px);
}
.select {
  position: relative;
  outline: none;
  margin-top: 16px;
  margin-right: 18px;
}
.select .value {
  opacity: 0.5;
  display: block;
  position: relative;
  font-family: MuseoSansCyrl500;
  font-size: 14px;
  color: #1f202a;
  cursor: pointer;
  overflow-x: hidden;
  white-space: nowrap;
}
.select .value::before {
  content: "";
  position: absolute;
  background: url("../img/arrow_down.svg");
  background-size: cover;
  width: 11.5px;
  height: 7px;
  top: 8px;
  right: 0px;
  z-index: 1;
  color: #bbb;
  line-height: 40px;
  font-size: 14px;
}
.select .list {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background: #fff;
  opacity: 1;
  outline: none;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.12);
  overflow: hidden;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 2;
}
.select .list ul {
  display: block;
  background-color: #f7f7f7;
}
.select .list ul li {
  display: block;
  list-style: none;
  font-family: MuseoSansCyrl500;
  font-size: 14px;
  color: #1f202a;
  padding: 9px 18px;
  cursor: pointer;
  position: relative;
  line-height: 1.29;
}
.select .list ul li:hover {
  background-color: #f0f0f0;
}
li.selected::before {
  content: "";
  position: absolute;
  background: url("../img/selected-ic.svg");
  background-size: cover;
  width: 11.5px;
  height: 7px;
  top: 17px;
  right: 18px;
  z-index: 1;
  color: #000;
  line-height: 40px;
  font-size: 14px;
}
.navbar {
  width: 100vw;
  height: 64px;
  background-color: #0d1717;
  position: fixed;
  z-index: 100;
}
.navbar .navbar-nav {
  width: auto;
  height: 100%;
}
.navbar .navbar-nav .back-icon {
  padding: 20px 32px;
  margin-right: -32px;
}
.navbar .navbar-nav .back-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}
.navbar .navbar-nav .logo {
  font-size: 32px;
  color: #fcfcfc;
  font-family: Fairview;
  margin-left: 32px;
}
.navbar .navbar-nav .actions {
  margin-left: 32px;
  height: 100%;
  width: auto;
}
.navbar .navbar-nav .actions .active {
  background-color: #474b4b;
}
.navbar .navbar-nav .actions .item {
  width: 64px;
  height: 64px;
}
.navbar .navbar-nav .actions .item:not(.active):hover {
  cursor: pointer;
  background-color: rgba(247,247,247,0.15);
}
.navbar .navbar-nav .actions .item .badge {
  width: 6px;
  height: 6px;
  border-radius: 12.5px;
  background-color: #ffd24f;
  position: absolute;
  top: 16px;
  margin-left: 12px;
}
.navbar .navbar-nav .actions .item .badge:hover {
  cursor: pointer;
  background-color: #474b4b;
}
.navbar .title {
  font-family: Fairview;
  font-size: 32px;
  color: #fcfcfc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar .balance {
  width: auto;
  height: 100%;
}
.navbar .balance .count {
  font-family: Fairview;
  color: #fcfcfc;
  font-size: 32px;
  margin-right: 5px;
}
.navbar .balance .options {
  margin-left: 10px;
  width: 64px;
  height: 100%;
}
.navbar .balance .options:hover {
  background-color: #474b4b;
  cursor: pointer;
}
.navbar .balance .options:hover .dropdown-options {
  display: block;
}
.navbar .balance .options .dropdown-options {
  display: none;
  position: absolute;
  background-color: #474b4b;
  width: 194px;
  right: 0;
  color: #fff;
  height: auto;
  top: 64px;
  z-index: 3;
}
.navbar .balance .options .dropdown-options .item {
  height: 64px;
  line-height: 64px;
  font-family: MuseoSansCyrl500;
  text-align: center;
  height: auto;
}
.navbar .balance .options .dropdown-options .item a:hover,
.navbar .balance .options .dropdown-options .item span:hover {
  color: #34343e;
}
.navbar .balance .options .dropdown-options .item:hover {
  background-color: #ffdd78;
}
.navbar .balance .options .dropdown-options .item span {
  display: block;
}
.navbar .balance .options .horizontal-dropdown-options {
  width: 256px;
}
.navbar .balance .options .horizontal-dropdown-options .item {
  height: 64px;
  width: 64px;
  line-height: 64px;
  font-family: MuseoSansCyrl500;
  text-align: center;
  display: inline-block;
}
.navbar .balance .options .horizontal-dropdown-options .item a:hover,
.navbar .balance .options .horizontal-dropdown-options .item span:hover {
  color: #34343e;
}
.navbar .balance .options .horizontal-dropdown-options:hover {
  background: #ffd24f;
}
.navbar .balance .options .horizontal-dropdown-options span {
  display: block;
}
.navbar .gridBalance .count {
  margin-right: 32px;
}
.navbar .textList .item span {
  text-align: left;
  margin-left: 24px;
}
.hamburger {
  display: none;
  cursor: pointer;
  padding: 1em 0em;
}
.menu {
  z-index: 4;
  width: 360px;
  background-color: #474b4b;
  position: fixed;
  top: 64px;
  bottom: 0;
  overflow-y: auto;
}
.menu .is-opened {
  overflow-y: auto;
}
.menu .wallet-list {
  height: 64px;
  width: 100%;
}
.menu .wallet-list.wrap-between .new-wallet {
  opacity: 0.4;
  line-height: 1.25;
  font-size: 16px;
  font-family: MuseoSansCyrl500;
  color: #fcfcfc;
}
.menu .wallet-list.wrap-between img {
  margin-right: 20px;
}
.menu .wallet-list:not(.active):not(.wallet-search):hover {
  background-color: #616565;
}
.menu .wallet-list:not(.active):not(.wallet-search):hover .wrap-in-wallet p {
  color: #fcfcfc;
}
.menu .wallet-list:not(.active):not(.wallet-search):hover .wrap-in-wallet .wallet {
  color: #fcfcfc;
  opacity: 0.7;
}
.menu .wallet-list.wallet-element:nth-child(2) {
  margin-top: 69px;
}
.menu .wallet-list.wallet-search {
  background-color: #474b4b;
  position: fixed;
  width: 360px;
  z-index: 2;
}
.menu .wallet-list .wrap-in-wallet {
  align-self: center;
  margin-left: 20px;
}
.menu .wallet-list .wrap-in-wallet .separator {
  content: '';
  width: 100%;
}
.menu .wallet-list .wrap-in-wallet .icon {
  margin-right: 20px;
}
.menu .wallet-list .wrap-in-wallet input {
  width: auto;
  margin-top: 0;
  height: 20px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: thin solid rgba(252,252,252,0.2);
  color: rgba(252,252,252,0.5);
  font-size: 16px;
  font-family: MuseoSansCyrl300;
}
.menu .wallet-list .wrap-in-wallet input:focus {
  font-size: 16px;
}
.menu .wallet-list .wrap-in-wallet input::-moz-placeholder {
  color: rgba(252,252,252,0.5);
  font-size: 16px;
}
.menu .wallet-list .wrap-in-wallet input:-ms-input-placeholder {
  color: rgba(252,252,252,0.5);
  font-size: 16px;
}
.menu .wallet-list .wrap-in-wallet input:-moz-placeholder {
  color: rgba(252,252,252,0.5);
  font-size: 16px;
}
.menu .wallet-list .wrap-in-wallet .active {
  background-color: #f7f7f7;
}
.menu .wallet-list .wrap-in-wallet .active p {
  color: #34343e;
}
.menu .wallet-list .wrap-in-wallet p {
  margin: 0;
  color: #fcfcfc;
  font-family: MuseoSansCyrl700;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.menu .wallet-list .wrap-in-wallet .wallet {
  font-family: MuseoSansCyrl300;
  font-size: 14px;
  color: rgba(252,252,252,0.7);
}
.menu .wallet-list.active {
  background-color: #f7f7f7;
}
.menu .wallet-list.active p {
  color: #34343e;
}
.menu .wallet-list.active .wallet {
  color: #34343e;
}
.menu.scrollable .wallet-list:nth-last-child(3) {
  margin-bottom: 64px;
}
.menu.scrollable .wrap-between {
  position: fixed;
  bottom: 0;
  width: 360px;
  background-color: #474b4b;
}
.mobile-menu {
  position: fixed;
  height: 100%;
  background-color: #0d1717;
  width: 100%;
  max-width: 360px;
  right: 0;
  bottom: 200%;
  transition: 0.3s;
  display: none;
  padding: 15px;
  padding-top: calc(64px + 15px);
  z-index: 5;
}
.mobile-menu.is-collapsed {
  overflow-y: scroll;
  bottom: 0;
}
.searchPanel {
  width: 100%;
  margin-bottom: 24px;
}
.searchPanel .top {
  padding-bottom: 18px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 24px;
}
.searchPanel .top .searchControl {
  width: calc(100% - 370px);
  cursor: pointer;
  flex-wrap: nowrap;
}
.searchPanel .top .searchControl input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  opacity: 0.5;
  font-family: MuseoSansCyrl300;
  font-size: 14px;
  line-height: 1.29;
  color: #34343e;
  margin-left: 18px;
  padding: 0;
  margin-top: 0;
}
.searchPanel .top .searchControl input:focus {
  width: 100%;
}
.searchPanel .bottom {
  background-color: #f0f0f0;
  padding: 16px 0 16px 16px;
}
.searchPanel .bottom .date {
  flex-grow: 1;
}
.searchPanel .bottom .date .date-title {
  font-family: MuseoSansCyrl500;
  font-size: 14px;
  color: #34343e;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 14px;
}
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker input#datepickerFrom,
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker input#datepickerTo {
  font-family: MuseoSansCyrl500;
  background: inherit;
  border: none;
  border-bottom: 1px solid rgba(52,52,62,0.2);
  width: 84px;
  margin-right: 24px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  text-align: left;
  color: #34343e;
  position: relative;
  z-index: 1;
}
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker #datepickerFrom,
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker #datepickerTo {
  cursor: pointer;
}
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker #datepickerFrom::-webkit-input-placeholder,
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker #datepickerTo::-webkit-input-placeholder {
  opacity: 1;
  line-height: 1.29;
  font-size: 14px;
}
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker .vdp-datepicker__calendar {
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.12);
  border: 0;
  padding: 7px;
  font-family: MuseoSansCyrl500;
  z-index: 100;
}
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker .vdp-datepicker__calendar .day:hover,
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker .vdp-datepicker__calendar .month:hover,
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker .vdp-datepicker__calendar .year:hover {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
.searchPanel .bottom .date .datepicker-wrap .vdp-datepicker .vdp-datepicker__calendar .selected {
  background-color: #f0f0f0;
}
.searchPanel .bottom .docs {
  margin-right: 17px;
}
.searchPanel .bottom .docs button:last-of-type {
  margin-bottom: 0;
}
.searchPanel .bottom .info .stats-col {
  font-family: MuseoSansCyrl500;
  color: #34343e;
  font-size: 14px;
}
.searchPanel .bottom .info .stats-col .title-opt-span {
  padding: 5px;
}
.searchPanel .bottom .info .stats-col .title-opt-span .title {
  margin: 0 10px;
  padding: 5px;
}
.searchPanel .bottom .info .stats-col .result-opt-line {
  padding: 5px;
  white-space: nowrap;
  text-align: right;
}
.searchPanel .bottom .info .stats-col .result-opt-line .result-opt-span {
  margin: 0 5px 0 10px;
  padding: 5px;
  letter-spacing: 0.5px;
  line-height: 1.29;
}
.searchPanel .bottom .info .stats-col .result-opt-line .result-opt-span .count {
  padding: 5px;
  letter-spacing: 0.5px;
}
.searchPanel .bottom .info .stats-col .sent {
  color: #b10303;
}
.activityListBlock:nth-child(odd) .activity-list {
  background: inherit;
}
.activityListBlock:nth-child(even) .activity-list {
  background: #f0f0f0;
}
.activityListBlock:nth-child(1) .activity-list {
  background: #f0f0f0;
}
.activityListBlock .activity-list {
  width: 100%;
  height: auto;
  background-color: #ececec;
  font-family: MuseoSansCyrl700;
  flex-wrap: nowrap;
  margin-bottom: 6px;
}
.activityListBlock .activity-list .received {
  background-color: rgba(255,210,79,0.6);
}
.activityListBlock .activity-list .sent {
  background-color: #f0f0f0;
}
.activityListBlock .activity-list:nth-child(even) {
  background: inherit;
}
.activityListBlock .activity-list:not(:last-child) {
  margin-bottom: 5px;
}
.activityListBlock .activity-list .status {
  min-width: 150px;
  height: 56px;
}
.activityListBlock .activity-list .status span {
  color: #34343e;
  font-size: 14px;
  font-family: MuseoSansCyrl700;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.activityListBlock .activity-list .details {
  flex-wrap: nowrap;
  width: 100%;
  height: 56px;
  padding-right: 16px;
}
.activityListBlock .activity-list .details .info {
  word-break: break-all;
  min-width: 380px;
}
.activityListBlock .activity-list .details .info p {
  font-family: MuseoSansCyrl500;
  color: #34343e;
  font-size: 12px;
  line-height: 1.6;
}
.activityListBlock .activity-list .details .count {
  background-color: transparent;
  padding-right: 5px;
  font-family: MuseoSansCyrl500;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.29;
  color: #34343e;
  min-width: 100px;
  text-align: right;
  padding-right: 0;
}
.activityListBlock .activity-list .details .count span {
  font-family: MuseoSansCyrl500;
  color: #34343e;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.29;
  text-align: right;
  padding: 5px;
  padding-right: 0;
}
.activityListBlock .activity-list .details .purpose {
  width: 100%;
  color: #34343e;
  font-family: MuseoSansCyrl500;
  margin-left: 16px;
}
.activityListBlock .activity-list .details .info,
.activityListBlock .activity-list .details .count {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.activityListBlock .result-day {
  margin: 16px 0 0;
}
.activityListBlock .result-day .result-day-col {
  font-family: MuseoSansCyrl500;
  color: #34343e;
  font-size: 14px;
}
.activityListBlock .result-day .result-day-col .result-day-status {
  padding: 5px;
}
.activityListBlock .result-day .result-day-col .result-day-status .result-day-field {
  margin: 0 10px;
  padding: 5px;
}
.activityListBlock .result-day .result-day-col .result-day-line {
  text-align: right;
  white-space: nowrap;
  padding: 5px;
}
.activityListBlock .result-day .result-day-col .result-day-line .result-day-span {
  margin: 0 5px 0 10px;
  padding: 5px;
  letter-spacing: 0.5px;
  line-height: 1.29;
}
.activityListBlock .result-day .result-day-col .result-day-line .result-day-span .count {
  letter-spacing: 0.5px;
  padding: 5px;
}
.activityListBlock .result-day .result-day-col .sent {
  color: #b10303;
}
.notif-panel {
  background-color: #f0f0f0;
  padding: 16px;
  margin-bottom: 12px;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.notif-panel .panel-heading .title {
  font-family: MuseoSansCyrl300;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.12;
  color: #34343e;
}
.notif-panel .panel-heading .title p strong {
  font-weight: bold;
  font-family: MuseoSansCyrl700;
  word-break: break-all;
}
.notif-panel .panel-heading .title .accepted {
  font-weight: bold;
  font-family: MuseoSansCyrl700;
  color: #4bad6d;
}
.notif-panel .panel-heading .title .deleted {
  font-weight: bold;
  font-family: MuseoSansCyrl700;
  color: #ad4b4b;
}
.notif-panel .panel-heading .datetime {
  opacity: 0.6;
  font-family: MuseoSansCyrl300;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.12;
  color: #34343e;
  white-space: nowrap;
}
.notif-panel .panel-heading .datetime .bold {
  font-weight: bold;
  font-family: MuseoSansCyrl500;
}
.notif-panel .panel-heading.shift-right {
  padding-left: 20px;
}
.notif-panel.checked {
  background-color: #f5e9c5;
}
.form {
  margin-bottom: 24px;
}
.form .control {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 18px;
  width: 100%;
}
.form .control:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.form .control .wrap-input {
  padding-left: 18px;
}
.form .control .wrap-input:first-child {
  margin-top: 18px;
}
.form .control .wrap-input label {
  text-transform: uppercase;
  font-size: 14px;
  font-family: MuseoSansCyrl500;
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 0.5px;
  color: #34343e;
}
.form .control .wrap-input input {
  opacity: 0.5;
  font-family: MuseoSansCyrl500;
  width: 100%;
  background: inherit;
  border: none;
  outline: none;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #34343e;
  position: relative;
  z-index: 1;
  display: block;
}
.form .control .wrap-input .textbox {
  margin-top: 18px;
}
.form .control .wrap-input .text {
  font-size: 14px;
  font-family: MuseoSansCyrl500;
  opacity: 0.5;
  line-height: 1.29;
  color: #34343e;
}
.form .control .wrap-input .wrap-container {
  margin-top: 18px;
}
.group-settings {
  margin-bottom: 24px;
}
.group-settings .form {
  max-height: 120px;
  width: 32.5%;
  background: transparent;
  cursor: pointer;
  max-width: 200px;
  margin: 0 10px;
}
.group-settings .form img {
  width: 168px;
  height: 97px;
}
.group-settings .form.select-main {
  background-color: #474b4b;
}
.group-settings .form.select-dark {
  background-color: #27272f;
}
.group-settings .form.select-white {
  background-color: #aaaec1;
}
.group-settings .form:first-child {
  margin-left: 0;
}
.group-settings .form:last-child {
  margin-right: 0;
}
.offers .contractor-info h3,
.offers .contractor-info h4 {
  margin: 18px 0;
}
.modal-input input {
  width: 100%;
}
.v--modal {
  border-radius: 10px !important;
  overflow-y: auto !important;
}
.v--modal-overlay {
  overflow-y: auto;
  background-color: rgba(52,52,62,0.4) !important;
  z-index: 9999;
}
.v--modal-overlay .v--modal-background-click {
  min-height: 100%;
  width: 100%;
  padding-bottom: 10px;
}
.v--modal-overlay .v--modal-top-right {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.v--modal-overlay .v--modal-box {
  top: 0 !important;
  left: 0 !important;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #fafafa;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
  position: relative;
  overflow: hidden;
}
.v--modal-overlay .v--modal-box .heading .title {
  text-align: center;
  font-family: MuseoSansCyrl700;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 0.5px;
  color: #34343e;
  margin-top: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.v--modal-overlay .v--modal-box .heading .title-expand .arrow {
  background-image: url("/static/img/expand-arrow.svg");
  width: 11.5px;
  height: 7px;
  background-size: cover;
  opacity: 0.5;
  margin: -2px 0 0 8px;
}
.v--modal-overlay .v--modal-box .heading .close {
  position: absolute;
  right: 42px;
  top: 27px;
  background-image: url("/static/img/close-cross.svg");
  width: 11px;
  height: 11px;
  background-size: cover;
}
.v--modal-overlay .v--modal-box .heading .close:hover {
  cursor: pointer;
}
.v--modal-overlay .v--modal-box .heading .back {
  position: absolute;
  left: 42px;
  top: 27px;
  background-image: url("/static/img/back-arrow-small.svg");
  width: 13px;
  height: 11px;
  background-size: cover;
}
.v--modal-overlay .v--modal-box .heading .back:hover {
  cursor: pointer;
}
.v--modal-overlay .v--modal-box .body .modal-control {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d1d1d1;
  margin-left: 24px;
  margin-right: 24px;
}
.v--modal-overlay .v--modal-box .body .modal-control.double:nth-child(2n+1) {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 18px;
}
.v--modal-overlay .v--modal-box .body .modal-control.double:nth-child(2n) {
  margin-top: 0;
  padding-top: 0;
}
.v--modal-overlay .v--modal-box .body .modal-control.double:nth-child(2n) .modal-input .title {
  font-size: 14px;
  opacity: 0.5;
  font-family: MuseoSansCyrl500;
  text-transform: lowercase;
}
.v--modal-overlay .v--modal-box .body .modal-control .address {
  font-family: MuseoSansCyrl500;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #34343e;
  word-break: break-all;
  margin-top: 14px;
  margin-bottom: 14px;
}
.v--modal-overlay .v--modal-box .body .modal-control.last {
  border: none;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input {
  flex-wrap: nowrap;
  margin: 0 18px;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input .title {
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 15px;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input input[type='number'] {
  -moz-appearance: textfield;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input input {
  text-align: right;
  border: none;
  font-size: 14px;
  text-decoration: underline;
  background: inherit;
  color: #34343e;
  opacity: 1;
  width: 100%;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input input:focus {
  opacity: 1;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input input:focus::-webkit-input-placeholder {
  opacity: 1;
  text-decoration: none;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input input::-webkit-input-placeholder {
  color: rgba(52,52,62,0.5);
  opacity: 1;
  text-decoration: underline;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input input.error::-webkit-input-placeholder {
  text-decoration-color: #d93f1f;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input input.error:focus::-webkit-input-placeholder {
  text-decoration: underline;
  text-decoration-color: #d93f1f;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input .count {
  opacity: 1;
  font-family: MuseoSansCyrl500;
  font-size: 20px;
  display: flex;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input .count #amount {
  margin-right: 5px;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input .count input {
  text-align: right;
  border: none;
  text-decoration: none;
  background: inherit;
  color: #34343e;
  font-size: 20px;
  opacity: 0.5;
  font-family: MuseoSansCyrl500;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input .count input::-webkit-input-placeholder {
  color: rgba(52,52,62,0.5);
  opacity: 1;
  text-decoration: none;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input .count input:focus {
  opacity: 1;
  text-decoration: none;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input .total {
  margin: 0;
  font-family: MuseoSansCyrl700;
  font-size: 14px;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input .small {
  margin: 0;
  font-family: MuseoSansCyrl300;
  font-size: 14px;
  text-align: left;
}
.v--modal-overlay .v--modal-box .body .modal-control .modal-input .small span {
  font-family: MuseoSansCyrl700;
}
.v--modal-overlay .v--modal-box .body .modal-footer {
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: center;
}
.v--modal-overlay .v--modal-box .body .modal-footer button {
  width: 240px;
}
.v--modal-overlay .v--modal-box .body .qr-code {
  text-align: center;
  margin-top: 64px;
}
.v--modal-overlay .v--modal-box .body .qr-code .muted {
  margin-bottom: 48px;
  color: #000;
  opacity: 1;
  font-size: 14px;
}
.v--modal-overlay .v--modal-box .body .qr-code .muted.upperCase {
  text-transform: uppercase;
  font-weight: bold;
}
.v--modal-overlay .v--modal-box .body .qr-code span {
  display: block;
  font-family: MuseoSansCyrl300;
  margin-top: 24px;
}
.v--modal-overlay .v--modal-box .modal-btn {
  margin-top: 40px;
  margin-bottom: 24px;
}
.v--modal-overlay .v--modal-box .modal-btn .buttons {
  margin-bottom: 0;
}
.modal-md .v--modal {
  width: 620px !important;
}
.modal-warning {
  margin: 0 42px;
}
.modal-warning .agreed {
  font-family: MuseoSansCyrl300;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  color: #34343e;
  margin: 14px 0;
}
.modal-warning .control.control-checkbox {
  font-size: 14px;
  color: rgba(52,52,62,0.7);
  padding-left: 26px;
  margin-top: 12px;
  width: 100%;
}
.modal-warning .control.control-checkbox span {
  margin-left: 10px;
}
.modal-warning .control.control-checkbox .control-indicator {
  height: 18px;
  width: 18px;
}
.modal-warning .control.control-checkbox .control-indicator:after {
  top: 1.5px;
  left: 5px;
  width: 5px;
  height: 9px;
  border-width: 0px 1.5px 1.5px 0;
}
.phrase {
  background-color: rgba(13,23,23,0.04);
  border-radius: 2px;
  padding: 12px 12px;
  text-align: center;
  margin: 24px 42px 42px;
}
.phrase span {
  font-family: MuseoSansCyrl700;
  font-size: 14px;
  font-weight: bold;
  color: #34343e;
}
.newwallet .v--modal-box.v--modal {
  width: 800px !important;
}
.dropdown-list {
  position: absolute;
  top: 50px;
  min-width: 200px;
  max-width: 250px;
  width: 100%;
  left: 230px;
  height: auto;
  background: #fff;
  opacity: 1;
  outline: none;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.12);
  overflow: hidden;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 2;
}
.dropdown-list ul {
  display: block;
  background-color: #f7f7f7;
}
.dropdown-list ul li {
  display: block;
  list-style: none;
  font-family: MuseoSansCyrl500;
  font-size: 14px;
  color: #1f202a;
  padding: 9px 18px;
  cursor: pointer;
  position: relative;
}
.dropdown-list ul li:hover {
  background-color: #f0f0f0;
}
.dropdown-list ul li.selected::before {
  content: "";
  position: absolute;
  background: url("/static/img/expand-arrow.svg");
  background-size: cover;
  width: 11.5px;
  height: 7px;
  top: 13px;
  right: 18px;
  z-index: 1;
  color: #000;
  line-height: 40px;
  font-size: 14px;
}
@media (max-width: 1024px) {
  .hamburger {
    display: block;
    padding-right: 32px;
    padding-left: 32px;
  }
  .hamburger .line {
    width: 35px;
    height: 3px;
    background-color: #fcfcfc;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hamburger .line:last-child {
    margin-bottom: 6px;
  }
  .hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -o-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -o-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
  }
  .menu {
    width: 260px;
  }
  .menu .wallet-list.wallet-search {
    width: 260px;
  }
  .menu.scrollable .wrap-between {
    width: 260px;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu hr {
    border: none;
    color: rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.4);
    height: 2px;
    margin: 8px 0;
  }
  .mobile-menu .item {
    height: 55px;
    font-size: 20px;
    font-family: MuseoSansCyrl500;
  }
  .mobile-menu .item:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,0.35);
  }
  .mobile-menu .item img {
    display: none;
  }
  .mobile-menu .item span {
    color: #fcfcfc;
  }
  .navbar .navbar-nav .actions {
    display: none;
  }
  .navbar .balance .options {
    display: none;
  }
}
@media (max-width: 920px) {
  .menu {
    width: 360px;
    overflow-y: unset;
  }
  .menu .wallet-list.wallet-search {
    width: 360px;
  }
  .menu.scrollable .wrap-between {
    width: 360px;
  }
}
@media (max-width: 768px) {
  .searchPanel .top input:focus {
    width: auto;
  }
}
@media (max-width: 720px) {
  .navbar .title {
    display: none;
  }
}
@media (max-width: 600px) {
  .searchPanel .top .searchControl {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .menu .wallet-list.wallet-search {
    width: calc(100% - 100vh);
  }
  .menu.is-opened {
    width: 100%;
    left: 0;
  }
  .menu.is-opened .wallet-search {
    width: 100vh !important;
  }
  .menu.scrollable .wrap-between {
    width: calc(100% - 100vh);
  }
  .mobile-menu {
    max-width: 100%;
  }
  .navbar .title {
    position: relative;
    left: auto;
    transform: none;
    padding-left: 32px;
  }
  .navbar .balance .count {
    display: none;
  }
}
