input#datepickerFrom, input#datepickerTo {
  font-family: MuseoSansCyrl500;
  background: inherit;
  border: none;
  border-bottom: 1px solid rgba(52, 52, 62, 0.2);
  width: 84px;
  margin-right: 30px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  text-align: left;
  color: #34343e;
  position: relative;
  z-index: 1; }

#datepickerFrom, #datepickerTo {
  cursor: pointer; }

#datepickerFrom::-webkit-input-placeholder, #datepickerTo::-webkit-input-placeholder {
  opacity: 1;
  line-height: 1.29;
  font-size: 14px; }

.vdp-datepicker__calendar {
  background-color: #f7f7f7;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
  border: 0 !important;
  padding: 7px;
  font-family: MuseoSansCyrl500 !important; }
  .vdp-datepicker__calendar header .next, .vdp-datepicker__calendar header .prev {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; }
    .vdp-datepicker__calendar header .next .arrow, .vdp-datepicker__calendar header .prev .arrow {
      width: 7.5px; }
  .vdp-datepicker__calendar .day-header {
    font-family: MuseoSansCyrl500 !important;
    color: #0d1717 !important;
    font-size: 12px !important; }
  .vdp-datepicker__calendar .day:hover, .vdp-datepicker__calendar .month:hover, .vdp-datepicker__calendar .year:hover {
    background-color: #f0f0f0 !important;
    border: 1px solid #f0f0f0 !important; }
  .vdp-datepicker__calendar .selected {
    background-color: #f0f0f0 !important; }

@media (max-width: 660px) {
  input#datepickerFrom, input#datepickerTo {
    margin-right: 0; } }

@media (max-width: 560px) {
  input#datepickerFrom, input#datepickerTo {
    margin-right: 15px; } }
