.bottom {
  background-color: #f0f0f0;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .bottom .date {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 15px;
    margin-right: 15px; }
    .bottom .date .date-title {
      font-family: MuseoSansCyrl500;
      font-size: 14px;
      color: #34343e;
      text-transform: uppercase;
      margin-top: 0; }
    .bottom .date .datepicker-wrap {
      display: flex; }
  .bottom .docs {
    display: flex;
    flex-direction: column; }
    .bottom .docs .disable-gray-button {
      background-color: #dedede;
      opacity: 0.4; }
    .bottom .docs button:last-of-type {
      margin-bottom: 0; }
  .bottom .info {
    display: flex; }
    .bottom .info .stats-col {
      display: flex;
      flex-direction: column; }
      .bottom .info .stats-col .title-opt-span, .bottom .info .stats-col .result-opt-span {
        font-family: MuseoSansCyrl500;
        font-size: 14px;
        color: #34343e; }
      .bottom .info .stats-col .title-opt-span {
        padding: 5px;
        align-self: flex-start;
        margin: 0 10px 0 10px; }
        .bottom .info .stats-col .title-opt-span .title {
          padding: 5px;
          margin: 0 10px 0 10px; }
      .bottom .info .stats-col .result-opt-span {
        padding: 5px;
        margin: 0 10px 0 10px;
        align-self: flex-end;
        white-space: nowrap; }
      .bottom .info .stats-col .sent {
        color: #b10303; }
      .bottom .info .stats-col .count {
        padding: 5px;
        margin: 0 10px 0 10px; }

@media (max-width: 1100px) {
  .bottom .docs .buttons {
    width: 130px; } }

@media (max-width: 1024px) {
  .bottom .date {
    width: 190px;
    padding-left: 0; }
    .bottom .date .buttons {
      width: 130px; }
    .bottom .date .datepicker-wrap {
      width: 190px; } }

@media (max-width: 660px) {
  .top {
    flex-direction: column;
    align-items: flex-start; }
    .top .searchControl {
      margin-bottom: 20px; }
  .bottom .date .datepicker-wrap {
    flex-direction: column;
    width: auto; }
    .bottom .date .datepicker-wrap .vdp-datepicker {
      margin-bottom: 10px; } }

@media (max-width: 560px) {
  .bottom {
    flex-direction: column; }
    .bottom .date {
      margin-right: 0; }
      .bottom .date .datepicker-wrap {
        flex-direction: row; }
    .bottom .docs {
      flex-direction: row; }
      .bottom .docs button {
        margin-right: 15px; } }

@media (max-width: 425px) {
  .top .transactions-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .top .transactions-buttons .buttons {
      width: 175px; } }

@media (max-width: 375px) {
  .top .transactions-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    .top .transactions-buttons .buttons {
      width: 100%; }
  .bottom .docs {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%; }
    .bottom .docs .buttons {
      width: 100%; }
  .bottom .info {
    width: 100%;
    justify-content: center; }
    .bottom .info .stats-col .result-opt-span {
      margin-right: 0; } }
